<div class="container">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/domains">Domains</a></li>
    <li class="active" ng-bind="report.from_domain"></li>
  </ol>
  
<div class="panel panel-success panel-results" ng-show="report.responses">
  <div class="panel-heading">Responses sent via {{report.from_domain}}</div>
  <div class="panel-body">
    <div class="row">
    <table st-table="report.displayed_responses" st-safe-src="report.responses" class="table table-condensed table-responsive">
      <thead>
        <tr>
          <th class="col-md-1">#</th>
          <th class="col-md-2">Date</th>
          <th class="col-md-1">Campaign</th>
          <th class="col-md-2">From</th>
          <th class="col-md-5">Subject</th>
          <th class="col-md-1">Size</th>
        </tr>
        <tr>
          <th class="col-md-1" colspan="3"></th>
          <th class="col-md-2"><input st-search="from_name" st-delay="300" class="input-sm form-control" placeholder="Filter by name" type="text"/></th>
          <th class="col-md-5"><input st-search="subject" st-delay="300" class="input-sm form-control" placeholder="Filter by subject" type="text"/></th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tr ng-repeat="response in report.displayed_responses">
        <td class="col-md-1"><p ng-bind="response.idx+1"></p></td>
        <td class="col-md-2"><p ng-bind="response.date"></p></td>
        <td class="col-md-1"><p ng-bind="response.campaigns|campaign_name|uppercase" class="label label-{{response.campaigns}}"></p></td>
        <td class="col-md-2"><a ng-href="#/stakeholder/{{response._id}}" ng-bind="response.from_name ? response.from_name : '(No name)'|limitTo:32"></a></td> 
        <td class="col-md-5"><a ng-href="#/stakeholder/{{response._id}}" ng-bind="response.subject ? response.subject : '(No subject)'"></a></td>
        <td class="col-md-1"><p ng-bind="response.size|bytes"></p></td>
      </tr>
      <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-pagination st-items-by-page="50" st-displayed-pages="8"></div>
          </td>
        </tr>
      </tfoot>
    </table>
    </div>
  </div>
  <div class="panel-footer" ng-show="report.total">
    About {{report.total|number}} result{{report.total>1?'s':''}} ({{report.took}} seconds)
  </div>
</div>
</div>
