<div class="container">
	<h3 class="page-header">Overview</h3>
	<p class="lead">Over The Top lets you search for stakeholder's comments in the dataset made public by TRAI.</p>

	<h4>Introduction</h4>
	<p>In March 2015, India's telecom regulator TRAI released a consultation paper on regulating Over The Top (OTT) services. If not for the fine folks at #SaveTheInternet, this consultation process may have gone unnoticed without much debate. The campaign generated over 1 million responses from stakeholders and created a unique dataset like never seen before.</p>

	<h4>Searching</h4>
	<p>Comments can be searched by <em>name</em>, <em>email address</em>, and <em>comments</em>. All fields are optional and default to <em>search all</em> if left empty. Search results are limited to first 100 results, because performance. If you know how to get pagination working, ping back.</p>

  <h4>How do you handle email addresses?</h4>
	<p>A hash of stakeholder's email addresses is stored and used for lookup purposes.</p>

	<h4>Feedback</h4>
	<p>We'd love to hear from you. Please send your feedback to <a href="mailto:feedback@overthetop.in">feedback@overthetop.in</a>. You can also follow us on twitter at <a href="https://twitter.com/overthetop_in">@overthetop_in</a>.</p>
</div>
