<div class="jumbotron">
	<div class="container">
		<h3>Explore stakeholder's comments on regulation of OTT services</h3>
		<p class="lead">In March 2015, India's telecom regulator TRAI released a <a href="http://trai.gov.in/Content/ConDis/10743_0.aspx" target="_blank">consultation paper</a> on regulating Over The Top (OTT) services. If not for the fine folks at <a href="http://www.savetheinternet.in/">#SaveTheInternet</a>, this consultation process may have gone unnoticed without much debate. The campaign generated over 1 million responses from stakeholders and created a unique dataset like never seen before. <a href="#/help">Read more &rarr;</a></p>
		<p class="text-left"><a class="btn btn-lg btn-success" href="#/domains" role="button">Browse responses &rarr;</a></p>
	</div>
</div>

<div class="container">
	<div class="row marketing">
		<div class="col-lg-6">
			<h4>How to search?</h4>
			<p>Use the search form at the top and enter a name, or an email address, or comment text and hit Search. All fields are optional.</p>
			<h4>Campaigns</h4>
			<p>Emails sent via targeted campaigns are identified and marked as <span class="label label-savetheinternet">SAVE THE INTERNET</span>, <span class="label label-logicalindian">LOGICAL INDIAN</span> or just <span class="label label-independent">INDEPENDENT</span>.</p>
			<h4>Dataset</h4>
			<p>Search across 950K comments and filter results by stakeholder name, email address and contents of their email.</p>
		</div>

		<div class="col-lg-6">
			<h4>Email addresses</h4>
			<p>We don't publish email addresses of the stakeholders. If you know someone by email, just search by their email address and we'll look them up by their email hash.</p>
			<h4>Domains</h4>
			<p>View <a href="#/domains">Domain reports</a> to see a break-down of email sending domains, statistics and browse through the emails sent via that domain.</p>
			<h4>Insights</h4>
			<p>This dataset is a treasure trove of online human behaviour. Search for <mark>fuck off</mark>, <mark>assholes</mark> or <mark>idiots</mark> and amuse yourself.</p>
		</div>
	</div>

</div>
