<div class="container">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/domains">Domains</a></li>
    <li><a href="#/domains/{{report.document._source.from_domain}}" ng-bind="report.document._source.from_domain"></a></li>
    <li class="active" ng-bind="report.document._id"></li>
  </ol>

<div class="panel panel-success panel-results" ng-show="report.document">
  <div class="panel-heading" ng-bind="report.document._source.subject ? report.document._source.subject : '(No subject)'"></div>
    <table class="table table-condensed table-responsive">
      <tr><td>From:</td><td><span ng-bind="report.document._source.from_name ? report.document._source.from_name : '(No name)'"></span> <span class="label label-{{report.document._source.from_type}}" ng-bind="report.document._source.from_type|domain_type|uppercase"></span></td></tr>
      <tr><td>To:</td><td ng-bind="report.document._source.to"></td></tr>
      <tr ng-show="report.document._source.cc"><td>Cc:</td><td ng-bind="report.document._source.cc"></td></tr>
      <tr><td>Subject:</td><td ng-bind-html="report.document._source.subject ? report.document._source.subject : '(No subject)'"></td></tr>
      <tr><td>Size:</td><td ng-bind="report.document._source.size|bytes"></td></tr>
      <tr ng-show="report.document._source.campaigns"><td>Campaigns:</td><td><p ng-bind="report.document._source.campaigns|campaign_name|uppercase" class="label label-{{report.document._source.campaigns}}"></p></td></tr>
    </table>
  <div class="panel-body">
    <div class="highlighta">
      <p ng-bind-html="report.document._source.content"></p>
    </div>
  </div>
  <div class="panel-footer" ng-show="report.total">
    About {{report.total|number}} result{{report.total>1?'s':''}} ({{report.took}} seconds)
  </div>
</div>

<div class="ng-hide" ng-show="found">
  <div class="bs-callout bs-callout-danger">
    <h4>404 Not Found</h4>
    <p>This is not the record you are looking for.</p>
  </div>
</div>

</div>
